<form [formGroup]="profileForm"  (ngSubmit)="enviar()">
    <br>
      <br>
  <label>
    Correo
    <input type="email" formControlName="email" [(ngModel)]="correo" />
  </label>
  <button type="submit" [disabled]="!profileForm.valid" class="boton">Submit</button>
</form>
<p>Email ingresado: {{ profileForm.value.email }}</p>

<table *ngIf="correos.length > 0" border="1" style="margin-top: 2rem;" >
    <caption class="titulo">
    Tabla de Registro de Correos
  </caption>
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Correo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let n of correos; let i = index">
      <td>{{i + 1}}</td>
      <td>{{ n }}</td>
    </tr>
  </tbody>
  <tfoot>